:root{
  --light-shades: white;
  --dark-shades: #1A1A1A;
  --black: black;
}

/* CONTEUDO */ 

  .participe h1 {
    width: 100%;
    margin-left: 0;
    font-size: calc(2.5vmax + 15px);
  }
  
  .participe p{
    width: 100%;
    margin-left: 0;
    font-size: calc(1.5vmax + 10px);
  }
  
  /* participe */
  
  .vertical_cima{
    border-right: 7px solid var(--light-shades);
    border-left: 7px solid var(--light-shades);
    border-top: 7px solid var(--light-shades);
    height: calc(3vmax + 40px);
    width:120%;
    margin-top: 10%;
  }
  .vertical_baixo{
    border-right: 7px solid var(--light-shades);
    border-left: 7px solid var(--light-shades);
    border-bottom: 7px solid var(--light-shades);
    height: calc(3vmax + 40px);
    width: 120%;
    margin-bottom: 10%;
  }

  .row{
    display: flex;
    justify-content: center;
  }
  
  .idioma{
    text-align: center;
    width: calc(7vmax + 180px) !important;
    justify-content: center;
  }

  .participe{
    width: 100% !important;
    display: flex;
    text-align: center;
  }

  #botões {
    margin-left: 10%;
    align-items:center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }


  .botao, a{
    z-index: 99;
    transition: all 0.2s ease-in-out;
    color: var(--black) !important;
  }

  .botao{
    background-color: yellow;
    outline: 5px solid black;
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;
    width: calc(7vmax + 50px);
    font-size: calc(1.2vmax + 10px);
    margin-bottom: 20px;
  }

  .botao:hover{
    scale: 1.05;
    color: red !important;
  }

  .botao:active{
    scale: 0.95;
    color: blue !important;
  }

/* RESPONSIVIDADE */

  @media (max-width: 800px){
    .participe{
      display: block;
    }
    #botões{
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  
  