:root{
  --light-shades: white;
}

/* ARCOS */

.arcos-idioma{
  padding: 0;
  width: calc(190px - 2vmax);
  color: var(--light-shades);
  display: flex;
}

.arcos1, .arcos2, .arcos3, .arcos4{
  margin: auto;
  margin-bottom: 5%;
}

.arcos{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(5% + 20px);
  gap: 7vmax;
}

.arcos a{
  font-size: calc(1.5vmax + 10px);
}

.arcos h1{
  font-size: calc(3vmax);
}

.idioma-img{
  width: 32px;
  margin: 10px 0px;
}

#imgArco{
  content: url("../Images/arcofechado.png");
}

a:hover > #imgArco, #imgArco:hover{
  content: url("../Images/arcoaberto.png");
}

@media screen and (max-width: 780px) {
.arcos1, .arcos2, .arcos3, .arcos4{
  margin-bottom: 40px;
}
}