/* ARCOS */

.cargo{
  padding: 0;
  color: white;
  text-align: center;
}

.membros1{

  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
} 
.membros2{

  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
} 
.membros3{

  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
} 
.membros4{
  right: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.membros{
  list-style-type: none;
  padding-top: 10%;
}
h2{
  text-align: center;
}

/* CONTEUDO */

.horizontal_esquerdo {
  height: 1200px;
  border-left: 10px dashed rgb(248, 248, 248);
  border-bottom: 10px dashed rgb(255, 255, 255);
  border-top: 10px dashed rgb(255, 255, 255);
  width: 30%;
  margin: 35px 0px;
  position: absolute;
}
  .horizontal_direito{
  height: 1200px;
  width: 108%;
  border-right: 10px dashed rgb(255, 255, 255);
  border-bottom: 10px dashed rgb(255, 255, 255);
  border-top: 10px dashed rgb(255, 255, 255);
  margin: 35px 0px;
  right: 90px;
  position: inherit;
}
