 /* CONTEUDO */
  
 /*
  .container-fluid{
  }
  */
  

  .participe h1 {
    width: 100%;
    margin-left: 0;
    font-size: calc(2.5vmax + 15px);
  }
  
  .participe p{
    width: 100%;
    margin-left: 0;
    font-size: calc(1.5vmax + 10px);
  }
  
  /* participe */
  
  .vertical_cima{
    border-right: 7px solid rgb(255, 255, 255);
    border-left: 7px solid rgb(255, 255, 255);
    border-top: 7px solid rgb(255, 255, 255);
    height: calc(3vmax + 40px);
    width:120%;
    margin-top: 10%;
  }
  .vertical_baixo{
    border-right: 7px solid rgb(255, 255, 255);
    border-left: 7px solid rgb(255, 255, 255);
    border-bottom: 7px solid rgb(255, 255, 255);
    height: calc(3vmax + 40px);
    width: 120%;
    margin-bottom: 10%;
  }
  
  .col{
    width: 100%;
  }
  
  .participe{
    width: 100% !important;
    display: flex;
    text-align: center;
  }

  #botões {
    margin-bottom: 10%;
    z-index: 99;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    margin-top: 6%;
  }

  #botões button, #botões a{
    transition: all 0.2s ease-in-out;
  }

  #botões button{
    background-color: yellow;
    margin-top: 10%;
    outline: 5px solid black;
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;
    width: calc(5vmax + 50px);
    font-size: calc(1.2vmax + 10px);
  }

  #botões button:hover{
    scale: 1.05;
    color: red !important;
  }

  #botões a:hover{
    color: red !important;
  }

  #botões a:active{
    color: blue !important;
  }

  #botões button:active{
    scale: 0.95;
    color: blue !important;
  }

  #botões a {
    color: black !important;
  }

  @media (max-width: 800px){
    .participe{
      display: block;
    }
    #botões{
      display: flex;
      flex-wrap: wrap;
      margin-left: 0%;
      margin: auto;
      margin-bottom: 20px;
    }
    #botões button{
      margin: auto;
      margin-top: 10%;
    }
  }
  
  