:root{
  --light-shades: white;
  --dark-shades: #1A1A1A;
  --black: black;
}

/* CONTEUDO */

.sobre h1 {
  width: 100%;
  margin-left: 0;
  font-size: calc(2.5vmax + 15px);
}

.sobre p{
  width: 100%;
  margin-left: 0;
  font-size: calc(1.5vmax + 10px);
}

.sobre

/* sobre */

.img-theoritas{
  align-self: center !important;
}

.img-theoritas img {
  width: calc(17vmax + 100px) !important;
}
.vertical_cima{
  border-right: 7px solid var(--light-shades);
  border-left: 7px solid var(--light-shades);
  border-top: 7px solid var(--light-shades);
  height: calc(3vmax + 40px);
  width:120%;
  margin-top: 10%;
}
.vertical_baixo{
  border-right: 7px solid var(--light-shades);
  border-left: 7px solid var(--light-shades);
  border-bottom: 7px solid var(--light-shades);
  height: calc(3vmax + 40px);
  width: 120%;
  margin-bottom: 10%;
}

.col{
  width: 100%;
}

.sobre{
  width: 100% !important;
  display: flex;
  text-align: center;
}

.row{
  display: flex;
  justify-content: center;
}

.idioma{
  text-align: center;
  width: calc(12vmax + 120px) !important;
  justify-content: center;
}

/* language */


#content iframe {
    height: 500px;
}

@media (max-width: 900px){
  .img-theoritas img{
    display: none;
  }
}
