/* ARCOS */

.cargo{
  padding: 0;
  color: white;
  text-align: center;
  font-size: calc(2vmax + 8px);
}

#conteudosec{
  padding: 0;
}

.membros{
  list-style-type: none;
  padding-top: 10%;
}

.membros1, .membros2, .membros3, .membros4, .membros5, .membros6{
  justify-content: center;
  padding-top: 4rem; padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.membros img{
  height: calc(3vmax + 60px);
}
h2{
  text-align: center;
}

/* CONTEUDO */

