/* ARCOS */

.arcos-idioma{
  padding: 0;
  color: white;
  display: flex;
}
.arcos1, .arcos2, .arcos3, .arcos4{
  margin:auto;
  margin-bottom: 5%;
}

.arcos{
  list-style-type: none;
  display: flex;
  padding-top: 10%;
}

.idioma-img{
  width: 32px;
  height: 32px;
  margin: 10px 0px;
  margin-right: 10px;
}