
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=VT323&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --light-shades: white;
  --dark-shades: #1A1A1A;
  --black: black;
}


/*Styles Extras TCN*/
.IconsBand {
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente na largura */
}

.coluna {
    flex: 1; /* Cada coluna recebe uma parte igual do espaço disponível */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

/* Estilo padrão para links */
.IconsBand a {
    color: var(--black); /* Cor do texto padrão */
    text-decoration: none; /* Remove sublinhado */
}

/* Estilo de hover para links */
.IconsBand a:hover {
    color: red; /* Cor vermelha ao passar o mouse */
}

.bg{
  font-size: 35px;
  font-family: 'VT323', monospace;
  border: var(--light-shades);
  background-color: var(--dark-shades) !important;
}

/*
.loader_bg {
  position: fixed;
  z-index: 99999;
  background: #7a2121;
  width: 100%;
  height: 100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
}
*/

/* NAV BAR */
a{
  color: var(--light-shades) !important;
}
a:link {
  text-decoration: none;
  color: var(--light-shades);
}
a:hover
{
  color: red !important;
}

a:hover::after{
  color: var(--light-shades);
}

.iconnav{
  width: calc(2vmax + 10px);
  z-index: 999;
}

.navbar-icon-texto{
  color: var(--light-shades) !important;
  font-size: calc(2vmax + 7px);
  align-self: center;
  z-index: 999;
}

/* PADRÕES DE ESTILO */

p{
  color: var(--light-shades);
  margin-left: 15px;
}

strong {
  margin-left: 15px;
}
h1 {
  font-size: calc(2vmax + 25px);
  color: var(--light-shades);
  text-align: center;
  margin: auto;
}

#conteudosec{
  border: 9px dashed var(--light-shades);
}

#ct-conteudo{
  margin-top: -45px;
  width: 22vmax;
  justify-content: center;
  background-color: var(--dark-shades);
}

.p-5{
  padding: 2rem !important;
  padding-top: 2rem !important;
}

.secret{
  color: var(--dark-shades);
}


/* FOOTER */
  
  footer{
    margin-top: 14%;
    color: var(--light-shades) !important;
  }
  
  .vertical_cima_footer{
    border-right: 7px solid var(--light-shades);
    border-left: 7px solid var(--light-shades);
    border-top: 7px solid var(--light-shades);
    height: 100px;
    margin: 5%;
    left: 0;
    margin-top: 0px;
    width: -webkit-fill-available;
    position: absolute;
  }
  .vertical_baixo_footer{
    border-right: 7px solid var(--light-shades);
    border-left: 7px solid var(--light-shades);
    border-bottom: 7px solid var(--light-shades);
    height: 100px;
    margin: 5%;
    left: 0;
    margin-top: -80px;
    width: -webkit-fill-available;
    position: absolute;
  }
  
  footer{
      width: 100%;
      padding-top: 40px;
      color: var(--light-shades);
  }
  .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  
  .footer-content p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      padding: 0;
  }
  .socials{
      list-style: none;
      display: flex;
      padding: 0;
  }
  .socials li{
      margin: 0 10px;
  }
  
  .footer-bottom{
    width: 100%;
    text-align: center;
  }
  
  .footer-bottom p{
      word-spacing: 2px;
      text-transform: capitalize;
      margin-left: 0px !important;
  }
  .nav-center{
    justify-content: center; 
}

.nav-item{
    width: calc(20vmax + 180px);
    justify-content: center;
}

.Lg-theorytas{
  width: calc(6vmax + 60px);
}

/* FRAME */

iframe{
  width: 100%;
}

.frame{
  margin-top: 3vmax !important;
  padding: 0 !important;
  background-color: transparent !important;
}

.frame p{
  font-size: calc(2vmax + 5px) !important;
  color: gray !important;
}

.frame strong, .frame h2{
  color: rgb(70, 70, 200) !important;
}

.frame strong{
  font-size: calc(2vmax + 6px);
}

.frame h1{
  font-size: 4vmax !important;
  color: rgb(122, 161, 191);
}

.frame .azuj {
  color: rgb(16, 191, 214);
}

/* LINGUAGENS */

.row{
  display: flex;
  justify-content: center;
}

.idioma{
  text-align: center;
  width: calc(10vmax + 130px) !important;
  justify-content: center;
}

/* language */
.language-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.language-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.language-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-right: 8px;
}
.language-name {
  text-align: left;
  cursor: pointer;
  color: white;
}
#content{
width: 100% !important;
}

/* BOTÃO TROCA DE TEMA */

.temaButton{
  position: fixed;
  right: 5%;
  bottom: 5%;
  background: var(--light-shades);
  border-radius: 20px;
  transition: all 0.55s ease-in-out;
  cursor: pointer;
  z-index: 99;
  border: 3px solid transparent;
  display: flex;
}

.temaButton img{
  width: calc(4vmax + 30px);
  border-radius: 20px;
}

.temaButton:hover{
  scale: 1.1;
  border-color: red;
}

.temaButton:active{
  scale:0.9
}

  /* RESPONSIVIDADE */
  
  #logo {
    text-align: center;
  }

  @media (max-width: 1050px){
      .nav{
        display: grid !important;
        grid-template-columns: repeat(1, 2fr) !important;
        justify-content: center;
      }
      .nav-item{
        width: 100%;
      }
    }

  @media (max-width: 400px){
    .nav-center{
      width: 100vw;
    }
    .p-5{
      padding: 1.5rem !important;
    }
    .frame .container-fluid, .frame {
      margin: 0 !important;
      padding: 0 !important;
    }
  }