
.bg{
  /* font-size: 35px; */
  font-family: 'VT323', monospace;
  border: rgb(255, 255, 255);
  background-color: #1A1A1A;
}
/*
.loader_bg {
  position: fixed;
  z-index: 99999;
  background: #7a2121;
  width: 100%;
  height: 100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
}
*/


/* NAV BAR */

a{
  color: white;
}
a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover
{
  color: red;
}

a:hover::after{
  color: white;
}

#btnapear{
  display: none;
}

.dropcolor{
  background-color: #1A1A1A;
}

/* .nav-item{
  margin: 100px 20px;
} */

/* .nav-item{
  margin: 6rem 1rem;
} */

/* CONTEUDO */

/* .horizontal_esquerdo {
  padding-top: 37rem;
  border-left: 10px dashed rgb(248, 248, 248);
  border-bottom: 10px dashed rgb(255, 255, 255);
  border-top: 10px dashed rgb(255, 255, 255);
  margin: 35px 0px;
}
.horizontal_direito{
  padding-top: 37rem;
  border-right: 10px dashed rgb(255, 255, 255);
  border-bottom: 10px dashed rgb(255, 255, 255);
  border-top: 10px dashed rgb(255, 255, 255);
  margin: 35px 0px;
} */



.horizontal_esquerdo {
  padding-top: 600px;
  border-left: 10px dashed rgb(248, 248, 248);
  border-bottom: 10px dashed rgb(255, 255, 255);
  border-top: 10px dashed rgb(255, 255, 255);
  margin: 35px 0px;
}
.horizontal_direito{
  padding-top: 600px;
  border-right: 10px dashed rgb(255, 255, 255);
  border-bottom: 10px dashed rgb(255, 255, 255);
  border-top: 10px dashed rgb(255, 255, 255);
  margin: 35px 0px;
}

h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
}

/* h1 {
  font-size: 60px;
  color: white;
  text-align: center;
} */

/* CARROSSEL */

.card{
  margin-left: 1rem !important;
  width: 35rem !important;
  height: 34rem !important;
}

/* .card{
  margin-left: 20px !important;
  width: 1000px !important;
  height: 520px !important;
} */

.carousel-control-next-icon {
  background-image: url("../Images/next.png");
}

.carousel-control-prev-icon {
  background-image: url("../Images/prev.png");
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;
  width: 5%;
  top: 30%;
}

.carousel-control-next{
  right: 8%
}

.carousel-control-prev{
  left: 8%;
}

/* FOOTER */



.vertical_cima{
  border-right: 7px solid rgb(255, 255, 255);
  border-left: 7px solid rgb(255, 255, 255);
  border-top: 7px solid rgb(255, 255, 255);
  height: 60px;
  left: 0;
  margin-top: 0px;
  
}
.vertical_baixo{
  border-right: 7px solid rgb(255, 255, 255);
  border-left: 7px solid rgb(255, 255, 255);
  border-bottom: 7px solid rgb(255, 255, 255);
  height: 60px;
  left: 0;
  margin-top: 0px;
}

footer{
    width: 100%;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li{
    margin: 0 10px;
}

.footer-bottom{
  width: 100%;
    text-align: center;
  padding: 20px;
}

.footer-bottom p{
    word-spacing: 2px;
    text-transform: capitalize;
}

/* TENTANDO FAZER RESPONSIVO */


/* xs */
@media screen and (max-width: 320px) {
  .nav-item{
    margin: 0.5rem 0.5rem;
}
  #nvbap{
    display: none;
  }

  #btnapear{
    
    display: contents;
  }

  .iconnav{
    height: 4rem;
  }

  .navbar-icon-texto{
    font-size: 2.5rem;
  }

  .Lg-theorytas{
    padding-right: 0.5rem;
    height: 1000.5rem;
  }

  .btnsize{
    height: 2rem;
    margin: 0.5rem 0.5rem;
  }

  .btnonly{
    position: relative;
    float: right;
  }
}

/* sm */
@media screen and (max-width: 375px) {
  .nav-item{
    margin: 0.5rem 0.5rem;
}
  #nvbap{
    display: none;
  }

  #btnapear{
    
    display: contents;
  }

  .iconnav{
    height: 4rem;
  }

  .navbar-icon-texto{
    font-size: 2.5rem;
  }

  .Lg-theorytas{
    padding-left: 0.4rem;
    height: 15rem;
  }

  .btnsize{
    height: 2rem;
    margin: 0.5rem 0.5rem;
  }

  .btnonly{
    position: relative;
    float: right;
  }
}

/* md */
@media screen and (max-width: 425px) {
  .nav-item{
    margin: 0.5rem 0.5rem;
}
  #nvbap{
    display: none;
  }

  #btnapear{
    
    display: contents;
  }

  .iconnav{
    height: 4rem;
  }

  .navbar-icon-texto{
    font-size: 2.5rem;
  }

  .Lg-theorytas{
    padding-left: 0.4rem;
    height: 15rem;
  }

  .btnsize{
    height: 2rem;
    margin: 0.5rem 0.5rem;
  }

  .btnonly{
    position: relative;
    float: right;
  }
}

/* lg */


/* xl */


/* 2xl */




/* 2xl */


/* xl */


/* lg */


/* md */


/* sm */


/* xs */


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=VT323&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');