/* ARCOS */

.cargo{
  padding: 0;
  color: white;
  text-align: center;
}

.membros1{

  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
} 
.membros2{

  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
} 
.membros3{

  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
} 
.membros4{
  right: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.membros5{
  right: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
}

.membros6{
  right: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.membros{
  list-style-type: none;
  padding-top: 10%;
  
}
h2{
  text-align: center;
}

/* CONTEUDO */

